.alert {
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  line-height: 50px;
  top: 10px;
  right: 10px;
  z-index: 10;
  border-radius: 15px;
  text-align: center;
}

.alert[data-alertshow=true] {
  display: flex;
}

.alert[data-alerttype='success'] {
  background: var(--success-color);
}

.alert[data-alerttype='error'] {
  background: var(--error-color);
}


